@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    color: #ffffff;
    margin: 0;
    font-size: 22px;
}

body {
    font-family: 'Bitter', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    background-color: lightgrey;
}

.container {
    background: url(img/daybackground.gif) #006fad;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding: 10px;
    border-radius: 10px;
}

.weather-box {
    width: 90vw;
    max-width: 600px;
    height: 95vh;
    overflow-y: scroll;
}

.weather-box::-webkit-scrollbar {
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 80px;
    background: #ffff;
    padding: 5px 5px;
    border-radius: 3px;
}

.search-box{
    display: flex;
}

.search-box input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #ffff;
    color: #ffff;
    height: 30px;
    width: 100px;
}

.search-box input:focus {
    outline: none;
}

.search-box button {
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    /* left: 170px; */

}


.location-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.location {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.location > * {
    padding: 0 5px;
}

.weather-info {
    /* margin-bottom: 30px;  */
}

.temp {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 80px 50px;  
    gap: 5px; 
    
}

.figure, .temp-icon {
    margin-bottom: 30px;
}

.temp > * {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

 .temp-description {
    align-items: baseline;
    grid-column-start: 1;
    grid-column-end: 3;
}

.figure .temp-figure {
    font-size: 50px;
    font-weight: 400;
}

.unit {
    font-size: 30px;
    font-weight: 400;
    vertical-align: super;
    
}

.temp-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.temp-icon i {
    font-size: 46px;
}

.desc {
    font-size: 22px;
}

.next-48hrs .forecast {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 20px;
}
.forecast::-webkit-scrollbar {
    display: none;
}
 
.next-48-box:first-of-type {
    display: none;
}

.forecast-heading {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 550;
}


.next-48 {
    display: flex;
    flex-direction: row;
}

 .next-48-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-width: 70px;
}


.time {
    display: flex;
    padding-bottom: 10px;
    width: auto;
}



.next-48hr-temp, .next-48hr-unit {
    margin: 0;
}

.next-48-icon {
    display: flex;
    flex-direction: column;
}

.next-48hr-weather-type {
    font-size: 12px;
    text-align: center;
}

.next-7days {
    margin-bottom: 20px;
}

.next-7-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    min-width: 300px;
}

.next-7-box:first-of-type {
    display: none;
}


.next-7-box > *  {
    width: 20vw;
    max-width: 200px;
    font-size: 18px;
}

.day {
    text-align: start;
    justify-self: flex-start;
    margin-right: 40px;

}

.min-temp {
    /* margin-left: 40px; */
}

.next-7-box img {
    width: 40px;
}

footer p, .year {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    letter-spacing: 2px;
    bottom: 20px;
    align-content: center;
}

